@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

.infoCard{
    font-family: 'Noto San TC', sans-serif !important;
    font-weight: 700 !important;
}

.outerRoute {
    margin-top: 8px;
    padding-left: 110px;
}

.customFontStyle {
    font-family: "PT Sans" !important;
    font-size: 14px; font-style: normal !important; 
    font-variant: normal; 
    font-weight: 400 !important; 
    line-height: 20px !important;
}