.main-screen {
    background: url("rip.jpeg") no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-screen img {
    width: 500px;
}

.chat-box {
    background: azure;
    width: 100vw;
    height: 33vh;
    overflow: auto;
}

.user-input {
    height: 30px;
    background-color: rgb(58, 197, 58);
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    width: 300px;
    border-radius: 5px;
    margin-right: 10px

}

.receiver-input{
    background-color: rgb(192, 191, 191);
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    width: 300px;
    border-radius: 5px;
    margin-left: 10px
}